@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

/* Completely hide scrollbars */
* {
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.skeleton-animated {
  animation: pulse 1.5s infinite;
}

@keyframes fadeIn {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 1000px;
    opacity: 1;
  }
}

.ql-container {
  border: none !important;
}

.ql-editor:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}
